# Python cache
__pycache__/
*.py[cod]
*$py.class

# Python environments
.venv/
venv/
env/

# Odoo runtime / logs
*.log
*.pid

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*~

# Test / coverage cache
.pytest_cache/
.coverage
htmlcov/